.carousel-item {
    padding-left: 100px;
    padding-top: 400px;
}

img {
    width: 100%;
    height: 700px;
}

/* #menu-bar {
    padding: 10px;
    background-color: #141414;
} */

.logo {
    float: left;
    width: 150px;
    height: 31px;
    margin-left: 48px;
    margin-right: 1250px;
    margin-top: 15px;
}
.header-wrapper {
    padding: 0%;
}

.tip-container {
    padding: 20px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7)
}
